<header class="mdc-top-app-bar">
    <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
            <a href="/">ACCUEIL</a>
        </section>
    </div>
</header>