<mat-card class="example-card ">
  <img
    mat-card-image
    src="../../assets/images/cardpersondashboard.svg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-title>{{ assoData.name }}</mat-card-title>

  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione possimus
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button class="accept">ACCEPTER</button>
    <button mat-button class="reject" (click)="deleteAsso(assoData.id)">REFUSER</button>
  </mat-card-actions>
</mat-card>
